<h1>Bookmarkr Demo by Anna</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <% if bookmark.favorite %> * <% end %>
      <%= link_to bookmark.title, bookmark.url %>
      <%= bookmark.comment %>
    </li>
  <% end %>
</ul>
